<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">

    <title>送信完了 | サンプル株式会社</title>
</head>

<body>
    <header>
        <!-- 576px以上の画面幅のとき、メニューを表示する（それ未満なら折りたたむ）指定を追加 ok -->
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
                <!-- 画面左上に表示するサイト名のリンクとして適切な表示をするための指定を追加 ok -->
                <a href="#" class="navbar-brand">サンプル株式会社</a>

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-bar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">会社情報</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">ニュース</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">採用情報</a></li>
                        <!-- お問い合わせページを表示していることをわかりやすくする設定を追加 ok -->
                        <li class="nav-item"><a href="#" class="nav-link active">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 class="mt-4 pb-4 border-bottom">送信完了</h1>
        <p>ありがとうございました。送信を受け付けました。</p>
        <p>3営業日以内をめどにご返信いたしますので、しばらくお待ちください。</p>

        <h4>送信内容</h4>

        <table class="table">
            <tr>
                <th class="text-start">会社名</th>
                <td class="text-start"><%= params["company"] %></td>
            </tr>
            <tr>
                <th class="text-start">氏名</th>
                <td class="text-start"><%= params["name"] %></td>
            </tr>
            <tr>
                <th class="text-start">メール</th>
                <td class="text-start"><%= params["mail"] %></th>
            </tr>
            <tr>
                <th class="text-start">電話番号</th>
                <td class="text-start"><%= params["tel"] %></td>
            </tr>
            <tr>
                <th class="text-start">内容</th>
                <td class="text-start"><%= params["content"].gsub(/\r\n|\r|\n/, "<br>") %></td>
            </tr>
        </table>
                <div class="text-center mb-4">
            <!-- 「戻る」ボタンを緑色にする設定を追加 ok -->
            <a href="/" class="btn btn-success">戻る</a>
        </div>
    </div>
    <footer class="text-center pt-3 border-top">
        &copy; 2021 SAMPLE Inc.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>